.cursor {
    pointer-events: none;
    position: fixed;
    z-index: 1;
    top: -26px;
    left: -26px;
    transform: translate(-26px, -26px);
    transition: transform 100ms;
}

.cursor img {
    position: fixed;
    top: 26px;
    transform-origin: top;
    transition: transform 500ms;
}

.cursor.up img {
    transform: translateY(-10px);
}

.cursor.right img {
    transform: rotate(90deg) scaleX(-1);
}

.cursor.left img {
    transform: rotate(-90deg);
}

@media (ponter: coarse) {
    .cursor {
        display: none;
    }   
}