.cursor {
    pointer-events: none;
    position: fixed;
    z-index: 1;
    top: -26px;
    left: -26px;
    transform: translate(-26px, -26px);
    transition: transform 100ms;
}

.cursor img {
    position: fixed;
    left: 26px;
    transform-origin: left;
    transition: transform 500ms;
    transform: rotate(90deg);
}

.cursor.right img {
    transform: rotate(180deg);
}

.cursor.left img {
    transform: rotate(0);
}

@media (ponter: coarse) {
    .cursor {
        display: none;
    }   
}