/* CSS cursor */
body {
    /* cursor: wait; */
    /* cursor: url("./fish-cursor_up.png") 24 0, auto;	 */
}
a.about {
    /* cursor: help; */
}
.control.backward {
    cursor: w-resize;
    /* cursor: url("./fish-cursor_left.png") 0 24, auto; */
}
.control.forward {
    cursor: e-resize;
    /* cursor: url("./fish-cursor_right.png") 48 24, auto; */
}


/* JS cursor */
.cursor {
    pointer-events: none;
    position: fixed;
    z-index: 1;
    top: -26px;
    left: -26px;
    transform: translate(-26px, -26px);
    transition: transform 100ms;
}

.cursor img {
    position: fixed;
    transform-origin: right;
    transition: transform 500ms;
}

.cursor.right img {
    transform: translateX(-40px);
}

.cursor.left img {
    transform: scaleX(-1) translateX(20px);
}

.cursor.forwards img {
    transform: translateX(62px);
}

.cursor.backwards img {
    transform: scaleX(-1) translateX(100px);
}

.cursor.up img {
    transform: rotate(-90deg) translateX(-20px) translateY(-20px);
}

@media (ponter: coarse) {
    .cursor {
        display: none;
    }   
}