body {
    font-size: 20px;
    font-family: 'Grandstander', Arial, Helvetica, sans-serif;
    margin: 0;
    max-height: 100vh;
    color: white;
}

header {
    padding: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    margin: 0;
}

nav a {
    font-size: 24px;
    margin-left: 40px;
    display: inline-block;
    color: white;
}

nav a:hover {
    text-decoration: none;
    font-style: italic;
}

main {
    position: fixed;
    top: 0;
    z-index: -1;
}

.carousel {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
}

.carousel img {
    scroll-snap-align: start;
    border-right: 5px solid white;
    max-width: 90%;
    object-fit: cover;
}

.control {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20vw;
    min-width: 180px;
    background-color: gray;
    opacity: 0.1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}

.control:hover {
    opacity: 0.3;
}

.control.backward {
    left: 0;
}

.control.forward {
    right: 0;
}